#container{
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000000;
    perspective: 600px;
}

#world{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #C0FFFF;
    transform: translate3d(200px, 100px, -1000px);
}

#square1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #C0F0F0;
}