@font-face {
  font-family: "Pixelme";
  src: url("fonts/Pixelme.ttf") format("truetype");
}

body {
  background-color: #0d2b45;
  color: #0d2b45;
  font-size: 34px;
  font-family: "Pixelme";
}

#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

.square {
  position: absolute;
}

.menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #203c56;
  text-align: center;
}

.button {
  position: absolute;
  width: 900px;
  height: 150px;
  background-color: #d08159;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #ffaa5e;
  cursor: pointer;
}

.back-btn {
  top: 450px;
  left: 150px;
}

#start-game-btn {
  top: 100px;
  left: 150px;
}

#instructions-btn {
  top: 300px;
  left: 150px;
}

#rules-btn {
  top: 500px;
  left: 150px;
}
