#container{
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000000;
}

#world{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #C0FFFF;
    transform: translate3d(200px, 100px, -1000px);
}