body {
  background-color: #0d2b45;
  color: #ffd4a3;
  font-size: 24px;
}

#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

.square {
  position: absolute;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #203c56;
}
