#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

#square1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #f000f0;
  transform: translate(-50%, -50%) rotateY(30deg);
  top: 400px;
  left: 400px;
}
