#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

#ground {
  position: absolute;
  width: 1700px;
  height: 1700px;
  background-color: #f0f0f0;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 500px;
  left: 400px;
}
